* { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 13px Helvetica, Arial; }
form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }        

nav ul{ height:250px; }
nav ul{ overflow:hidden; overflow-y:scroll; }

#messages { list-style-type: none; margin: 0; padding: 0; }        
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #eee; }              
.mymessage { color: #00F; }   
#messages li.mymessage { background: #960 }
#messages li:nth-child(odd).mymessage { background: #FA0; }

#control { list-style-type: none; margin: 0; padding: 0; background-color: #069; border: black; border-style: solid; }        
#control li { padding: 5px 10px; }
#control li:nth-child(odd) { background: #990 }      

#online { list-style-type: none; margin: 0; padding: 0; background-color: #069; border: black; border-style: solid; }
#online li { padding: 5px 10px; }

.input-login { width: 360px; background-color: rgb(70, 120, 145); border: black; border-style: solid; }

.error { color: #F00}

.container {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: auto 200px;
    grid-template-rows: auto auto 40px;
    grid-template-areas: 
        "chat users"
        "chat control"
        "input input";
}

.item-chat {
    grid-area: chat;
}

.item-users {
    grid-area: users;
}

.item-control {
    grid-area: control
}

.item-input {
    grid-area: input;
}

